<footer
  class="text-center text-white"
  style="background-color: #2d2d2d;"
>
  <!-- Grid container -->
  <div class="container pt-3" style="padding:0;" >
    <!-- Section: Social media -->
    <section class="mb-3" style="min-width: 300px;">
      <!-- Facebook -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="https://www.facebook.com/"
        role="button"
      ><i class="fab fa-facebook-f"></i></a>

      <!-- Twitter -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="https://twitter.com/"
        role="button"
      ><i class="fab fa-twitter"></i></a>

      <!-- Google -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="https://www.google.com/"
        role="button"
      ><i class="fab fa-google"></i></a>

      <!-- Instagram -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="https://www.instagram.com/"
        role="button"
      ><i class="fab fa-instagram"></i></a>

      <!-- Linkedin -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="https://www.linkedin.com/"
        role="button"
      ><i class="fab fa-linkedin-in"></i></a>

      <!-- Github -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="https://github.com/RohithKKannan"
        role="button"
      ><i class="fab fa-github"></i></a>
    </section>
    <!-- Section: Social media -->

  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div
    class="text-center text-white p-1"
    style="background-color: rgba(0, 0, 0, 0.2) "
  >
    © 2021 Copyright:
    <a class="text-white" href="/">DripWheels.com</a>
  </div>
  <!-- Copyright -->
</footer>