<nav class="navbar navbar-expand-xxl navbar-light bg-light">
  <div class="container-fluid" style="font-size:larger;margin-left:5%;margin-right:50px;">
    <a class="navbar-brand" href="/">
        <img src="image/logo.png"/ height=60 width=80>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        {{#if user}}
         
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        {{#if (isM user)}}
        <li class="nav-item">
          <a class="nav-link" href="/createA">Create an admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/deletec">Delete car</a>
        </li>
        {{/if}}
        <li class="nav-item">
          <a class="nav-link" href="/showCars">Show Cars</a>
        </li>
        {{#if (isA user)}}
        <li class="nav-item">
          <a class="nav-link" href="/listcar">List a car</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/viewf">View Feedbacks</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/viewo">View Orders</a>
        </li>
        {{/if}}
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/signup">Login</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>