<div
  class="container shadow-4"
  style="background-color: white;margin-bottom:100px;min-width:100%;"
>
  <div class="d-flex" style="margin-top: 50px;justify-content: center;"><h3
      style="margin-top: 30px;"
    >Update password</h3></div>
  <form method="POST" action="/updatep"
          class="d-flex flex-column me-auto ms-auto"
          style="width:60%;min-width:300px;margin-top:50px;"
        >
        <!--each method for each errors-->
        {{#each errors}}
      <div class="alert alert-danger">
        {{text}}
      </div>
        {{/each}}
        {{#each success}}<div class="alert alert-success">
        {{text}}
      </div>
        {{/each}}
          <!-- 2 column grid layout with text inputs for the first and last names -->
          
        <!-- Password input -->
          <div class="p-1 form-outline">
            <input
              type="password"
              id="form1Example2"
              name="opassword"
              class="form-control form-control"
            />
            <label class="form-label" for="form1Example2">Current Password</label>
          </div>
          <div class="p-1 form-outline">
            <input
              type="password"
              id="form1Example2"
              name="password"
              class="form-control form-control"
            />
            <label class="form-label" for="form1Example2">New Password</label>
          </div>
          <div class="p-1 form-outline">
            <input
              type="password"
              id="form1Example2"
              name="password2"
              class="form-control form-control"
            />
            <label class="form-label" for="form1Example2">ReEnter New Password</label>
          </div>

          <!-- Submit button -->
          <button
            type="submit"
            class="p-1 btn btn-primary btn-block mb-4 ms-auto me-auto"
            style="width:80px;margin-top:40px;"
          ><i class="fas fa-arrow-right"></i></button>
        </form>
</div>