<div
  class="d-flex shadow-4 flex-wrap"
  style="background-color:white;margin-top:30px;margin-bottom:100px;margin-left:3%;margin-right:3%;"
>
    
  <form
    class="d-flex ms-auto me-auto flex-column"
    style="width:50%;min-width:300px;margin-top:50px;"
    action="/feedback"
    method="POST"
  >
  <h3>Feedback</h3>
  <h4>How was your experience?</h4>
  <input type="hidden" name="bid" value="{{bid}}"/>
        <label class="form-label" for="rating">Rating</label>
        <div class="range">
          <input type="range" min="1" max="5" step="1" class="form-range" id="rating" name="rating" />
        </div>

        <!-- Message input -->
      <div class="form-outline mb-4" style="margin-left:10px;margin-right:10px;height: 115px;">
        <textarea class="form-control" name="review" id="form4Example3" rows="4" ></textarea>
        <label class="form-label" for="form4Example3">Review</label> 
      </div>
        <label
      class="form-label"
      for="customFile"
      style="margin-left:10px"
    >Image</label>
    <input
      type="file"
      class="form-control"
      id="customFile"
      name="image"
      value="{{image}}"
      style="width:50%;margin-left:10px;margin-right:10px;min-width:210px;"
    /> 
        <button
          type="submit"
          class="btn btn-primary btn me-auto ms-auto"
          style="margin-top: 20px;width:100px;margin-bottom:60px;"
        >Submit</button>
      </form>
    </div>
  </div>

</div>
<script type="text/javascript">
//Jquery
$(document).ready(function(){
    
    $('#customFile').on('change',function(){
        var uploadip = $('#customFile');
        if(uploadip.val() != ''){
            var formData = new FormData();
            formData.append('image',uploadip[0].files[0]);

            $.ajax({
                url: '/uploadImage',
                type: 'POST',
                data : formData,
                processData : false,
                contentType: false,
                success : function(){
                    uploadip.val('');
                }
            })
        }
    })
})
window.onload = function(){
    if(window.jQuery) {
        console.log('Jquery has been initialised');
    }
    else
        alert('Jquery not loaded. Please reload the page');
}
</script>
